*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    position: relative;
    cursor:url("../img/aonmh-ssm66-001.ico"),auto;
}
/* swiper的样式 */
.swiper-container {
    width: 100%;
    --swiper-pagination-color: rgb(167,213,0);
    --swiper-navigation-color: rgba(7, 7, 7, 0.767);
}
/* 分页器小圆点大小设置 */
.swiper-pagination>.swiper-pagination-bullet{
    width: 1.5rem;
    height: 1.5rem;
}
.swiper-slide>img {
    width: 100%;
    height: 100%;
}
.swiper-container:hover{
    --swiper-navigation-color: rgb(167,213,0);
}
/* 头部导航栏 */
.header_ul{
    width: 100%;
    height: 6rem;
    list-style: none;
    display: flex;
    background-color: rgba(7, 7, 7, 0.767);
    color: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15rem;
    font-size: 1.6rem;
    font-weight: 300;
}
.header_ul>li{
    width: 8%;
    padding: 1rem 0.5rem;
    text-align: center;
    margin: 0 1rem;
    transition: all 0.5s;
}
.header_ul>li>img{
    width: 50%;
}
.header_ul>li:hover{
    cursor: pointer;
}
.header_ul>.header:hover{
    border: 1px solid rgb(168,213,3);
    color: rgb(168,213,3);
    border-radius: 20px;
    /* background-color: white; */

}

.header_ul>li:nth-of-type(1){
    text-align: right;
}
.header_ul>.rectangle{
    padding: 0.5rem 0.3rem;
    font-size: 1.5rem;
}

.header_ul>.rectangle:hover{
    border: 1px solid rgb(168,213,3);
    color: rgb(168,213,3);
    background-color: white;
}
.header_ul>.English{
    margin-left: 5rem;
}



