.sfq{
    width: 100%;
    height: 30rem;
    margin: 10rem auto;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

.sfq>li {
    display: inline-block;
    width: 200px;
    height: 30rem;
    overflow: hidden;
}

.sfq img {
    width: 400px;
    height: 100%;
}